@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;

        
    }

    html {
        overflow: hidden;
        overflow-y: auto;

        color: #FAFAFA;
        font-family: 'Inter', sans-serif;
    }

    h1 {
        font-weight: bold;    
    }

    a::selection, h1::selection, p::selection, span::selection, img::selection, textarea::selection {
        color: #0D2734;
        background: #FAFAFA;
    }

    *::-webkit-scrollbar {
        width: 0.25rem;
    }
    
    *::-webkit-scrollbar-track {
        border: theme('colors.dark-1') solid 1px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: theme('colors.dark-1');
    }
}

@layer components {
    .btn {
        color: #FAFAFA;
        background: theme('colors.dark-1');
        font-weight: bold;

        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}