@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        color: theme('colors.light');
        background-color: theme('colors.light');
        font-family: 'Inter', sans-serif;

        min-height: 100%;
        margin: 0;
        overflow: hidden;
        overflow-y: auto;
    }

    body::-webkit-scrollbar {
        width: 0.6rem;
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-dark-1 hover:bg-dark-2
    }

    p {
        @apply font-light
    }
}

@layer components {
    .btn {
        @apply bg-dark-1 font-bold text-light w-fit py-2 px-4
    }

    .section-head {
        @apply max-w-2xl mb-12 mx-auto flex flex-col items-center justify-center text-center
    }

    .site-wrapper {
        @apply max-w-6xl px-8
    }
    
    .w-container {
        @apply max-w-[940px] mx-auto
    }
    
    .flex-center {
        @apply flex items-center justify-center
    }
}

@layer utilities {
    .h-screen {
        height: calc(100vh - 5rem);
    }
}